body {
    margin: 0;
    padding: 0;
    background-color: rgb(159, 159, 159);
    overflow: hidden;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }
  
  .matrixWrapper {
    width: 160vw;
    height: 160vh;
    position: fixed;
    top: -30vh;
    left: -30vw;
  
    display: grid;
    grid-template-columns: repeat(16, 1fr);
    grid-template-rows: repeat(16, 1fr);
    border: 1px solid #ccc;
    justify-content: center;
    align-content: center;
  
    transform-style: preserve-3d;
    transform: perspective(1000px);
  }
  
  .matrixPoint {
    width: 100%;
    height: 100%;
    background-color: aquamarine;
    filter: brightness(0);
    transition: 0.5s;
  
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .matrixPoint:hover {
    filter: brightness(1);
    transform: translateZ(400px);
  }
  
  .matrixPoint:hover + *,
  .matrixPoint:hover + * + * + * + * + * + * + * + * + * + * + * + * + * + * + *,
  .matrixPoint:hover
    + *
    + *
    + *
    + *
    + *
    + *
    + *
    + *
    + *
    + *
    + *
    + *
    + *
    + *
    + *
    + *,
  .matrixPoint:hover
    + *
    + *
    + *
    + *
    + *
    + *
    + *
    + *
    + *
    + *
    + *
    + *
    + *
    + *
    + *
    + *
    + *,
  .matrixPoint:has(+ :hover),
  .matrixPoint:has(
      + * + * + * + * + * + * + * + * + * + * + * + * + * + * + :hover
    ),
  .matrixPoint:has(
      + * + * + * + * + * + * + * + * + * + * + * + * + * + * + * + :hover
    ),
  .matrixPoint:has(
      + * + * + * + * + * + * + * + * + * + * + * + * + * + * + * + * + :hover
    ) {
    filter: brightness(0.5);
    transform: translateZ(300px);
  }
  
  .matrixPoint:hover + * + *,
  .matrixPoint:hover + * + * + * + * + * + * + * + * + * + * + * + * + * + *,
  .matrixPoint:hover
    + *
    + *
    + *
    + *
    + *
    + *
    + *
    + *
    + *
    + *
    + *
    + *
    + *
    + *
    + *
    + *
    + *
    + *,
  .matrixPoint:hover
    + *
    + *
    + *
    + *
    + *
    + *
    + *
    + *
    + *
    + *
    + *
    + *
    + *
    + *
    + *
    + *
    + *
    + *
    + *
    + *
    + *
    + *
    + *
    + *
    + *
    + *
    + *
    + *
    + *
    + *,
  .matrixPoint:hover
    + *
    + *
    + *
    + *
    + *
    + *
    + *
    + *
    + *
    + *
    + *
    + *
    + *
    + *
    + *
    + *
    + *
    + *
    + *
    + *
    + *
    + *
    + *
    + *
    + *
    + *
    + *
    + *
    + *
    + *
    + *,
  .matrixPoint:hover
    + *
    + *
    + *
    + *
    + *
    + *
    + *
    + *
    + *
    + *
    + *
    + *
    + *
    + *
    + *
    + *
    + *
    + *
    + *
    + *
    + *
    + *
    + *
    + *
    + *
    + *
    + *
    + *
    + *
    + *
    + *
    + *,
  .matrixPoint:hover
    + *
    + *
    + *
    + *
    + *
    + *
    + *
    + *
    + *
    + *
    + *
    + *
    + *
    + *
    + *
    + *
    + *
    + *
    + *
    + *
    + *
    + *
    + *
    + *
    + *
    + *
    + *
    + *
    + *
    + *
    + *
    + *
    + *,
  .matrixPoint:hover
    + *
    + *
    + *
    + *
    + *
    + *
    + *
    + *
    + *
    + *
    + *
    + *
    + *
    + *
    + *
    + *
    + *
    + *
    + *
    + *
    + *
    + *
    + *
    + *
    + *
    + *
    + *
    + *
    + *
    + *
    + *
    + *
    + *
    + *,
  .matrixPoint:has(+ * + :hover),
  .matrixPoint:has(+ * + * + * + * + * + * + * + * + * + * + * + * + * + :hover),
  .matrixPoint:has(
      + * + * + * + * + * + * + * + * + * + * + * + * + * + * + * + * + * + :hover
    ),
  .matrixPoint:has(
      + *
        + *
        + *
        + *
        + *
        + *
        + *
        + *
        + *
        + *
        + *
        + *
        + *
        + *
        + *
        + *
        + *
        + *
        + *
        + *
        + *
        + *
        + *
        + *
        + *
        + *
        + *
        + *
        + *
        + :hover
    ),
  .matrixPoint:has(
      + *
        + *
        + *
        + *
        + *
        + *
        + *
        + *
        + *
        + *
        + *
        + *
        + *
        + *
        + *
        + *
        + *
        + *
        + *
        + *
        + *
        + *
        + *
        + *
        + *
        + *
        + *
        + *
        + *
        + *
        + :hover
    ),
  .matrixPoint:has(
      + *
        + *
        + *
        + *
        + *
        + *
        + *
        + *
        + *
        + *
        + *
        + *
        + *
        + *
        + *
        + *
        + *
        + *
        + *
        + *
        + *
        + *
        + *
        + *
        + *
        + *
        + *
        + *
        + *
        + *
        + *
        + :hover
    ),
  .matrixPoint:has(
      + *
        + *
        + *
        + *
        + *
        + *
        + *
        + *
        + *
        + *
        + *
        + *
        + *
        + *
        + *
        + *
        + *
        + *
        + *
        + *
        + *
        + *
        + *
        + *
        + *
        + *
        + *
        + *
        + *
        + *
        + *
        + *
        + :hover
    ),
  .matrixPoint:has(
      + *
        + *
        + *
        + *
        + *
        + *
        + *
        + *
        + *
        + *
        + *
        + *
        + *
        + *
        + *
        + *
        + *
        + *
        + *
        + *
        + *
        + *
        + *
        + *
        + *
        + *
        + *
        + *
        + *
        + *
        + *
        + *
        + *
        + :hover
    ) {
    filter: brightness(0.2);
    transform: translateZ(150px);
  }
  
  .matrixPoint:hover + * + * + *,
  .matrixPoint:hover + * + * + * + * + * + * + * + * + * + * + * + * + *,
  .matrixPoint:hover
    + *
    + *
    + *
    + *
    + *
    + *
    + *
    + *
    + *
    + *
    + *
    + *
    + *
    + *
    + *
    + *
    + *
    + *
    + *,
  .matrixPoint:hover
    + *
    + *
    + *
    + *
    + *
    + *
    + *
    + *
    + *
    + *
    + *
    + *
    + *
    + *
    + *
    + *
    + *
    + *
    + *
    + *
    + *
    + *
    + *
    + *
    + *
    + *
    + *
    + *
    + *
    + *
    + *
    + *
    + *
    + *
    + *,
  .matrixPoint:hover
    + *
    + *
    + *
    + *
    + *
    + *
    + *
    + *
    + *
    + *
    + *
    + *
    + *
    + *
    + *
    + *
    + *
    + *
    + *
    + *
    + *
    + *
    + *
    + *
    + *
    + *
    + *
    + *
    + *,
  .matrixPoint:hover
    + *
    + *
    + *
    + *
    + *
    + *
    + *
    + *
    + *
    + *
    + *
    + *
    + *
    + *
    + *
    + *
    + *
    + *
    + *
    + *
    + *
    + *
    + *
    + *
    + *
    + *
    + *
    + *
    + *
    + *
    + *
    + *
    + *
    + *
    + *
    + *
    + *
    + *
    + *
    + *
    + *
    + *
    + *
    + *
    + *,
  .matrixPoint:hover
    + *
    + *
    + *
    + *
    + *
    + *
    + *
    + *
    + *
    + *
    + *
    + *
    + *
    + *
    + *
    + *
    + *
    + *
    + *
    + *
    + *
    + *
    + *
    + *
    + *
    + *
    + *
    + *
    + *
    + *
    + *
    + *
    + *
    + *
    + *
    + *
    + *
    + *
    + *
    + *
    + *
    + *
    + *
    + *
    + *
    + *,
  .matrixPoint:hover
    + *
    + *
    + *
    + *
    + *
    + *
    + *
    + *
    + *
    + *
    + *
    + *
    + *
    + *
    + *
    + *
    + *
    + *
    + *
    + *
    + *
    + *
    + *
    + *
    + *
    + *
    + *
    + *
    + *
    + *
    + *
    + *
    + *
    + *
    + *
    + *
    + *
    + *
    + *
    + *
    + *
    + *
    + *
    + *
    + *
    + *
    + *,
  .matrixPoint:hover
    + *
    + *
    + *
    + *
    + *
    + *
    + *
    + *
    + *
    + *
    + *
    + *
    + *
    + *
    + *
    + *
    + *
    + *
    + *
    + *
    + *
    + *
    + *
    + *
    + *
    + *
    + *
    + *
    + *
    + *
    + *
    + *
    + *
    + *
    + *
    + *
    + *
    + *
    + *
    + *
    + *
    + *
    + *
    + *
    + *
    + *
    + *
    + *,
  .matrixPoint:hover
    + *
    + *
    + *
    + *
    + *
    + *
    + *
    + *
    + *
    + *
    + *
    + *
    + *
    + *
    + *
    + *
    + *
    + *
    + *
    + *
    + *
    + *
    + *
    + *
    + *
    + *
    + *
    + *
    + *
    + *
    + *
    + *
    + *
    + *
    + *
    + *
    + *
    + *
    + *
    + *
    + *
    + *
    + *
    + *
    + *
    + *
    + *
    + *
    + *,
  .matrixPoint:hover
    + *
    + *
    + *
    + *
    + *
    + *
    + *
    + *
    + *
    + *
    + *
    + *
    + *
    + *
    + *
    + *
    + *
    + *
    + *
    + *
    + *
    + *
    + *
    + *
    + *
    + *
    + *
    + *
    + *
    + *
    + *
    + *
    + *
    + *
    + *
    + *
    + *
    + *
    + *
    + *
    + *
    + *
    + *
    + *
    + *
    + *
    + *
    + *
    + *
    + *,
  .matrixPoint:hover
    + *
    + *
    + *
    + *
    + *
    + *
    + *
    + *
    + *
    + *
    + *
    + *
    + *
    + *
    + *
    + *
    + *
    + *
    + *
    + *
    + *
    + *
    + *
    + *
    + *
    + *
    + *
    + *
    + *
    + *
    + *
    + *
    + *
    + *
    + *
    + *
    + *
    + *
    + *
    + *
    + *
    + *
    + *
    + *
    + *
    + *
    + *
    + *
    + *
    + *
    + *,
  .matrixPoint:has(+ * + * + :hover),
  .matrixPoint:has(+ * + * + * + * + * + * + * + * + * + * + * + * + :hover),
  .matrixPoint:has(
      + *
        + *
        + *
        + *
        + *
        + *
        + *
        + *
        + *
        + *
        + *
        + *
        + *
        + *
        + *
        + *
        + *
        + *
        + :hover
    ),
  .matrixPoint:has(
      + *
        + *
        + *
        + *
        + *
        + *
        + *
        + *
        + *
        + *
        + *
        + *
        + *
        + *
        + *
        + *
        + *
        + *
        + *
        + *
        + *
        + *
        + *
        + *
        + *
        + *
        + *
        + *
        + :hover
    ),
  .matrixPoint:has(
      + *
        + *
        + *
        + *
        + *
        + *
        + *
        + *
        + *
        + *
        + *
        + *
        + *
        + *
        + *
        + *
        + *
        + *
        + *
        + *
        + *
        + *
        + *
        + *
        + *
        + *
        + *
        + *
        + *
        + *
        + *
        + *
        + *
        + *
        + :hover
    ),
  .matrixPoint:has(
      + *
        + *
        + *
        + *
        + *
        + *
        + *
        + *
        + *
        + *
        + *
        + *
        + *
        + *
        + *
        + *
        + *
        + *
        + *
        + *
        + *
        + *
        + *
        + *
        + *
        + *
        + *
        + *
        + *
        + *
        + *
        + *
        + *
        + *
        + *
        + *
        + *
        + *
        + *
        + *
        + *
        + *
        + *
        + *
        + :hover
    ),
  .matrixPoint:has(
      + *
        + *
        + *
        + *
        + *
        + *
        + *
        + *
        + *
        + *
        + *
        + *
        + *
        + *
        + *
        + *
        + *
        + *
        + *
        + *
        + *
        + *
        + *
        + *
        + *
        + *
        + *
        + *
        + *
        + *
        + *
        + *
        + *
        + *
        + *
        + *
        + *
        + *
        + *
        + *
        + *
        + *
        + *
        + *
        + *
        + :hover
    ),
  .matrixPoint:has(
      + *
        + *
        + *
        + *
        + *
        + *
        + *
        + *
        + *
        + *
        + *
        + *
        + *
        + *
        + *
        + *
        + *
        + *
        + *
        + *
        + *
        + *
        + *
        + *
        + *
        + *
        + *
        + *
        + *
        + *
        + *
        + *
        + *
        + *
        + *
        + *
        + *
        + *
        + *
        + *
        + *
        + *
        + *
        + *
        + *
        + *
        + :hover
    ),
  .matrixPoint:has(
      + *
        + *
        + *
        + *
        + *
        + *
        + *
        + *
        + *
        + *
        + *
        + *
        + *
        + *
        + *
        + *
        + *
        + *
        + *
        + *
        + *
        + *
        + *
        + *
        + *
        + *
        + *
        + *
        + *
        + *
        + *
        + *
        + *
        + *
        + *
        + *
        + *
        + *
        + *
        + *
        + *
        + *
        + *
        + *
        + *
        + *
        + *
        + *
        + :hover
    ),
  .matrixPoint:has(
      + *
        + *
        + *
        + *
        + *
        + *
        + *
        + *
        + *
        + *
        + *
        + *
        + *
        + *
        + *
        + *
        + *
        + *
        + *
        + *
        + *
        + *
        + *
        + *
        + *
        + *
        + *
        + *
        + *
        + *
        + *
        + *
        + *
        + *
        + *
        + *
        + *
        + *
        + *
        + *
        + *
        + *
        + *
        + *
        + *
        + *
        + *
        + :hover
    ),
  .matrixPoint:has(
      + *
        + *
        + *
        + *
        + *
        + *
        + *
        + *
        + *
        + *
        + *
        + *
        + *
        + *
        + *
        + *
        + *
        + *
        + *
        + *
        + *
        + *
        + *
        + *
        + *
        + *
        + *
        + *
        + *
        + *
        + *
        + *
        + *
        + *
        + *
        + *
        + *
        + *
        + *
        + *
        + *
        + *
        + *
        + *
        + *
        + *
        + *
        + *
        + *
        + :hover
    ),
  .matrixPoint:has(
      + *
        + *
        + *
        + *
        + *
        + *
        + *
        + *
        + *
        + *
        + *
        + *
        + *
        + *
        + *
        + *
        + *
        + *
        + *
        + *
        + *
        + *
        + *
        + *
        + *
        + *
        + *
        + *
        + *
        + *
        + *
        + *
        + *
        + *
        + *
        + *
        + *
        + *
        + *
        + *
        + *
        + *
        + *
        + *
        + *
        + *
        + *
        + *
        + *
        + *
        + :hover
    ) {
    filter: brightness(0.1);
    transform: translateZ(50px);
  }
  